/* begin standard */
*{margin:0;padding:0;}
@font-face{font-family:"robotocondensed";src:url("../fonts/RobotoCondensed.woff") format('truetype');}
@font-face{font-family:"arial";src:url("../fonts/arial.ttf") format('truetype');}
@font-face{font-family:"notoserif";src:url("../fonts/noto-serif.ttf") format('truetype');}
@font-face{font-family:"baomoi";src:url("../fonts/baomoi_gdi.ttf") format('truetype');}
@font-face{font-family:"Parisienne";src:url("../fonts/Parisienne.ttf") format('truetype');}
@font-face{font-family:"Ovo";src:url("../fonts/Ovo-Regular.ttf") format('truetype');}
@font-face{font-family:"RobotoSlab";src:url("../fonts/RobotoSlab.ttf") format('truetype');}
@font-face{font-family:"Anton";src:url("../fonts/Anton.ttf") format('truetype');}
@font-face{font-family:"OpenSans";src:url("../fonts/OpenSans.ttf") format('truetype');}
@font-face{font-family:"OpenSans-Bold";src:url("../fonts/OpenSans-Bold.ttf") format('truetype');}
body{
    
    color:#333;
    background:#ffffff;
    font-family: 'OpenSans';
    font-size: 12px;
    
}
a:hover,a:focus{
    text-decoration: none;
}
table{max-width:100%;}
p{margin:1em 0;}
img{max-width:100%;}
.clr{clear:both;margin:0 !important;padding: 0 !important}
ul{margin:0;padding:0;}
ul li{margin-left:15px;}
ol li{margin-left:15px;margin-bottom: 15px;}
h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:0;}
.container{padding-right:0;padding-left:0;}
.margin-bottom-5{margin-bottom:5px;}
.margin-bottom-10{margin-bottom:10px;}
.margin-bottom-15{margin-bottom:15px;}
.margin-bottom-20{margin-bottom:20px;}
.margin-bottom-25{margin-bottom:25px;}
.margin-bottom-30{margin-bottom:30px;}
.margin-bottom-35{margin-bottom:35px;}
.margin-bottom-40{margin-bottom:40px;}
.margin-bottom-45{margin-bottom:45px;}
.margin-top-5{margin-top:5px;}
.margin-top-10{margin-top:10px;}
.margin-top-15{margin-top:15px;}
.margin-top-20{margin-top:20px;}
.margin-top-25{margin-top:25px;}
.margin-top-30{margin-top:30px;}
.margin-top-35{margin-top:35px;}
.margin-top-40{margin-top:40px;}
.margin-top-45{margin-top:45px;}
.padding-bottom-5{padding-bottom:5px;}
.padding-bottom-10{padding-bottom:10px;}
.padding-bottom-15{padding-bottom:15px;}
.padding-bottom-20{padding-bottom:20px;}
.padding-bottom-25{padding-bottom:25px;}
.padding-bottom-30{padding-bottom:30px;}
.padding-bottom-35{padding-bottom:35px;}
.padding-bottom-40{padding-bottom:40px;}
.padding-bottom-45{padding-bottom:45px;}
.padding-top-5{padding-top:5px;}
.padding-top-10{padding-top:10px;}
.padding-top-15{padding-top:15px;}
.padding-top-20{padding-top:20px;}
.padding-top-25{padding-top:25px;}
.padding-top-30{padding-top:30px;}
.padding-top-35{padding-top:35px;}
.padding-top-40{padding-top:40px;}
.padding-top-45{padding-top:45px;}

.padding-left-5{padding-left: 5px;}
.padding-left-10{padding-left: 10px;}
.padding-left-15{padding-left: 15px;}
.padding-left-20{padding-left: 20px;}
.padding-left-25{padding-left: 25px;}
.padding-left-30{padding-left: 30px;}
.padding-left-35{padding-left: 35px;}
.padding-left-40{padding-left: 40px;}
.padding-left-45{padding-left: 45px;}

.padding-right-5{padding-right: 5px;}
.padding-right-10{padding-right: 10px;}
.padding-right-15{padding-right: 15px;}
.padding-right-20{padding-right: 20px;}
.padding-right-25{padding-right: 25px;}
.padding-right-30{padding-right: 30px;}
.padding-right-35{padding-right: 35px;}
.padding-right-40{padding-right: 40px;}
.padding-right-45{padding-right: 45px;}

.margin-left-5{margin-left: 5px;}
.margin-left-10{margin-left: 10px;}
.margin-left-15{margin-left: 15px;}
.margin-left-20{margin-left: 20px;}
.margin-left-25{margin-left: 25px;}
.margin-left-30{margin-left: 30px;}
.margin-left-35{margin-left: 35px;}
.margin-left-40{margin-left: 40px;}
.margin-left-45{margin-left: 45px;}

.margin-right-5{margin-right: 5px;}
.margin-right-10{margin-right: 10px;}
.margin-right-15{margin-right: 15px;}
.margin-right-20{margin-right: 20px;}
.margin-right-25{margin-right: 25px;}
.margin-right-30{margin-right: 30px;}
.margin-right-35{margin-right: 35px;}
.margin-right-40{margin-right: 40px;}
.margin-right-45{margin-right: 45px;}



.no-padding{
    padding-left: 0;
    padding-right: 0;
}
.no-padding-right{
    padding-right: 0
}
.no-padding-left{
    padding-left: 0;
}
.no-margin{
    margin-left: 0;
    margin-right: 0;
}
.no-margin-right{
    margin-right: 0
}
.no-margin-left{
    margin-left: 0;
}
.relative{
    position: relative;
    
}
.justify{
    text-align: justify;
}
table td{padding-left:10px;padding-bottom:10px;}
figure{overflow:hidden;position:relative;display:inline-block;vertical-align:top;}
figure img{-webkit-transition:all 0.5s linear;transition:all 0.5s linear;-webkit-transform:scale3d(1, 1, 1);transform:scale3d(1, 1, 1);}
figure:hover img{-webkit-transform:scale3d(1.2, 1.2, 1);transform:scale3d(1.2, 1.2, 1);}
div.mobilemenu{
    display: none;
}
.navbar-default {
    background-color:#0c62ad;
    border-top:1px solid #01539b;
    border-left:1px solid #01539b;
    border-right:1px solid #01539b;
}
.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #0c62ad;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-top:1px solid #01539b;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    border-bottom:1px solid #01539b;
    padding-left:15px;
    padding-right: 15px;
    font-size: 16px;
}
.nav > li{
    margin-left: 0
}
.navbar-nav {
    margin: 0px 0px;
}
.nav > li > a{
    padding-right: 0;
    padding-left: 0;
}
.navbar-collapse{
    padding-right: 0;
    padding-left: 0;
}
ul.nav ul.sub-menu{
    list-style: none;
}
ul.nav ul.sub-menu li{
    margin-left: 0;
}
ul.nav ul.sub-menu li a{
    display: block;
    color: #ffffff;
    padding: 15px 0px 0px 40px;
}
.navbar-nav ul li a{
    color: #ffffff;
    display: block;
    padding-left: 45px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-nav ul{
    list-style: none;
}
.navbar-nav ul li{
    margin-left: 0;
}
.navbar-nav li a:hover{
    color: #ff8a00 !important;
}
div.opacity-absolute::before{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    opacity: .5;
}

.pagination{
    margin: 0
}
/* end standard */
.top{
    background: #f5f5f5;
    padding: 10px 0px;
}
.tieplua a{

    color: #333;
}
.nipad{
    list-style: none;
}
.nipad li{
    display: inline-block;
}
.nipad li a{
    color: #333;

}
.tim-cong-viec{
    float: left;
    margin-right: 5px;
}
.kiem-cong-viec{
    border: 1px solid #ccc;
    padding: 5px 5px;

}
.btn-search-job a{
    display: block;
    background: #E30000;
    padding: 5px 10px;
    color: #ffffff;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    border: 1px solid #c50000;
}
.btn-search-job a:hover{
    background:#337ab7;
    border: 1px solid #1b588d;
}
.btn-search-recruitment a{
    display: block;
    background: #E30000;
    padding: 5px 10px;
    color: #ffffff;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    border: 1px solid #c50000;
}
.btn-search-recruitment a:hover{
    background:#337ab7;
    border: 1px solid #1b588d;
}
.btn-dang-ky a{
    display: inline-block;
    background: #E30000;
    padding: 5px 10px;
    color: #ffffff;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    border: 1px solid #c50000;
}
.btn-dang-ky a:hover{
    background:#337ab7;
    border: 1px solid #1b588d;
}
.rianmus a{
    display: inline-block;
    background: #E30000;
    padding:0px 10px;
    color: #ffffff;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    border: 1px solid #c50000;
}
.rianmus a:hover{
    background:#337ab7;
    border: 1px solid #1b588d;
}
.btn-login{
    display: inline-block;
    background: #E30000;
    padding: 5px 10px;
    color: #ffffff;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    border: 1px solid #c50000;
}
.btn-login:hover{
    background:#337ab7;
    border: 1px solid #1b588d;
    color: #ffffff;
}
.btn-remember-password{
    display: inline-block;
    background: #ffffff;
    padding: 5px 10px;
    color: #E30000;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    border: 1px solid #ccc;
}
.btn-remember-password:hover{
    background: #E30000;
    color: #ffffff;
    border: 1px solid #c50000;
}
.bg-startup{
    background-image: url('../images/bg-quick-search.png');
    background-repeat: no-repeat;
    padding: 60px 0px;
}
.co-hoi{
    text-align: center;    
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
}
.tim-kiem-cv-mo-uoc{
    border: 3px solid #d3f3f9;
    margin-top: 15px;
    background: #ffffff;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}
.dk-dn a{
    display: block;
    padding: 20px 0px;
    font-size: 20px;
    font-weight: bold;    
    background: #f5f5f5;
    border: 1px solid #ccc;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;    
}
.dk-dn a:hover{
    background: #337ab7;
    border: 1px solid #1b588d;
    color: #ffffff;    
}
.tao-ho-so a{
    display: block;
    padding-left: 10px ;
    padding-top: 10px;   
    padding-bottom: 11px;     
    background: #f5f5f5;
    border: 1px solid #ccc;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;    
}
.tao-ho-so a:hover{
    background:#E30000;
    border: 1px solid #c50000;    
}
.tao-ho-so a .ths{
    color: #E30000;
    font-weight: bold;
    font-size: 25px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;    
}
.tao-ho-so a .sloganthsmp{
    color: #333;

    margin-top: 5px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;    
}
.tao-ho-so a i{
    color: #E30000;
    font-size: 74px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;    
}
.tao-ho-so a:hover .ths ,
.tao-ho-so a:hover .sloganthsmp,
.tao-ho-so a:hover i{
    color: #ffffff;
}
.lam-dep-ho-so a{
    display: block;
    padding-left: 10px ;
    padding-top: 10px;   
    padding-bottom: 11px;     
    background: #f5f5f5;
    border: 1px solid #ccc;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;    
}
.lam-dep-ho-so a:hover{
    background:#337ab7;
    border: 1px solid #1b588d;
}
.lam-dep-ho-so a .ths{
    color: #337ab7;
    font-weight: bold;
    font-size: 25px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;    
}
.lam-dep-ho-so a .sloganthsmp{
    color: #333;

    margin-top: 5px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;    
}
.lam-dep-ho-so a i{
    color: #337ab7;
    font-size: 60px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;    
}
.lam-dep-ho-so a:hover .ths ,
.lam-dep-ho-so a:hover .sloganthsmp,
.lam-dep-ho-so a:hover i{
    color: #ffffff;
}
.zidan{
    display: flex;
}
.mica{
        display: flex;
    justify-content: center;
    margin-left: 40px;
}
.mica-lam-dep-ho-so{
        display: flex;
    justify-content: center;
    margin-right: 15px;
}
.mica-2{
        display: flex;
    justify-content: center;
    margin-left: 5px;
    padding-right: 15px;
}
.dang-tin-mien-phi a{
    display: block;
    padding-left: 10px ;
    padding-top: 10px;   
    padding-bottom: 11px;     
    background: #f5f5f5;
    border: 1px solid #ccc;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;    
}
.dang-tin-mien-phi a:hover{
    background: #337ab7;
    border: 1px solid #1b588d;
}
.dang-tin-mien-phi a .ths{
  color: #337ab7;
    font-weight: bold;
    font-size:25px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;    
}
.dang-tin-mien-phi a .sloganthsmp{
    color: #333;

    margin-top: 5px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;    
}
.dang-tin-mien-phi a i{
    color: #337ab7;
    font-size: 74px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;    
}
.dang-tin-mien-phi a:hover .ths ,
.dang-tin-mien-phi a:hover .sloganthsmp,
.dang-tin-mien-phi a:hover i{
    color: #ffffff;
}
.box-dk-dn{
        border: 1px solid #ccc;
    
}
.user-dn-dk{
        padding-top: 20px;
    padding-bottom: 20px;
    font-size:40px;
    color: #3333335c;
}
.box-btn-dn-dk{
    padding: 0px 10px;
}
.box-btn-dn-dk a{
        display: inline-block;
    background: #E30000;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    color: #ffffff;
    padding: 10px 10px;
    font-size: 15px;
    width: 100%;
    border: 1px solid #c50000;
}
.box-btn-dn-dk a:hover{
    background: #337ab7;    
    border: 1px solid #1b588d;
}
.thong-tin-dn-dk{
    list-style: none;
}
.thong-tin-dn-dk li{

    margin-top: 10px;
    text-align: justify;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
}
.terran{
    margin-top:18px;
}
.riba{
        margin-top:18px;
}
.thong-tin-dn-dk span{
    margin-left: 5px;
}
.dk-dn-r a{
    display: block;
    padding: 20px 0px;
    font-weight: bold;    
    background: #f5f5f5;
    border: 1px solid #ccc;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;    
}
.dk-dn-r a:hover{
    background: #337ab7;
    border: 1px solid #1b588d;
    color: #ffffff;    
}
.dk-dn-r a .dk-dn-login{
        font-size: 20px;
    margin-left: 20px;
}
.dk-dn-r a .dk-dn-icon{
        font-size: 50px;
    position: absolute;
    right: 20px;
}
.caramba{
    display: flex;
    align-items: center;
    position: relative;
}
.lilikati{
    padding: 0px 80px;    
}
.tao-ho-so-r a{
    display: block;
    padding: 20px 0px;
    font-weight: bold;    
    background: #f5f5f5;
    border: 1px solid #ccc;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;    
    color: #E30000;
}
.tao-ho-so-r a:hover{
    background: #E30000;
    border: 1px solid #c50000;
    color: #ffffff;    
}
.tao-ho-so-r a .dk-dn-login{
        font-size: 20px;
    margin-left: 20px;
}
.tao-ho-so-r a .dk-dn-icon{
        font-size: 50px;
    position: absolute;
    right: 20px;   
}

.dn-dk-h {
    color: #E30000;
    font-size: 20px;
    position: relative;
    padding-bottom: 10px;    
    margin-top: 10px;
}
.dn-dk-h::before {
    position: absolute;
    left: 0;
    height: 1px;
    width: 100px;
    background: #E30000;
    content: "";
    bottom: 0;
}

.dn-dk-h::after {
    position: absolute;
    left: 15px;
    bottom: -2px;
    height: 1px;
    width: 100px;
    background: #E30000;
    content: "";
}
.login-information{
        font-size: 18px;
    font-weight: bold;
    text-align: right;
}
.vacca{
    width: 100%;
        border: 1px solid #ccc;
    padding: 5px 5px;

}
.xika{
    padding: 4px 0px;
    display: flex;    
    justify-content: flex-end;
}
.pappa i{
    color: #E30000;
    font-size: 6px;
}
.mia{
    margin-top: 10px;
}
.pappa{
    display: flex;
    align-items: center;
}
.ex-website{
    display: flex;
    align-items: center;
}
.lili{

}
.tattoo{
    width: 60%;
}
.box-category{
    margin-top: 10px;
}
.menu-right-title {
    background: #d80027;
    color: #ffffff;    
    font-size: 15px;
    padding: 10px 10px;
}
.categoryarticle {
    list-style: none;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}
.categoryarticle li {
    margin-left: 0;
}
.categoryarticle li a {
    
    
    
    display: flex;
    padding:10px 10px;
    color: #333;
        transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    align-items: center;
}
.categoryarticle li a:hover{
    background: #f0f0f0;
}
.category-icon{
        font-size: 14px;
    margin-right: 10px;
}
.category-article-last a{
    border-top: 1px solid #d8d8d8;
    font-weight: bold;
}
.email-disabled{
    height: 100%;
    display: flex;
    align-items: center;
}
.change-passwrd a{
        display: inline-block;
    background: #E30000;
    padding: 5px 10px;
    color: #ffffff;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    border: 1px solid #c50000;
}
.change-passwrd a:hover{
    background:#337ab7;
    border: 1px solid #1b588d;
}
.box-logo, .recommend{
    display: flex;    
}
.note.note-danger {
    background-color: #fef7f8;
    border-color: #f0868e;
    color: #210406;
}
.note.note-success {
    background-color: #c0edf1;
    border-color: #58d0da;
    color: #000;
}
.note {
    
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
    border-radius: 0 4px 4px 0;
}
.flamentco{
    display: flex;
    align-items: center;
}
.review a{
    color: #E30000;
    font-weight: bold;    
}
.news-title{
    background: #f5f5f5;
}
.kaso{
    width:50%;
}
.kiatisak{
    width: 100%;
}
.fatanasa a {
    display:inline-block;
    background: #E30000;
    padding: 5px 10px;
    color: #ffffff;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    border: 1px solid #c50000;
}
.fatanasa a:hover{
    background:#337ab7;
    border: 1px solid #1b588d;
}
.narit{
    display: flex;
    align-items: center;
    padding: 5px 0px;
}
.box-group-profile{
        display: flex;
    justify-content: center;
}
.rawon{
        border: 1px solid #ccc;
    padding: 15px 100px;
    margin-top: 15px;
}
.rawon i{
    font-size: 80px;
}

.mimi a{
       display: block;
    padding: 10px 10px;
    font-size: 15px;
    font-weight: bold;
    background: #f5f5f5;
    border: 1px solid #ccc;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
        margin: 15px 0px 0px 0px;
}
.mimi a:hover{
    background: #337ab7;
    border: 1px solid #1b588d;
    color: #ffffff;    
}
.xika2 {
    padding: 4px 0px;
    text-align: justify;
}
.titanius{
    display: flex;
}
.vihamus a{
    display: block;
    background: #E30000;
    padding:0px 10px;
    color: #ffffff;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    border: 1px solid #c50000;
}
.vihamus a:hover{
    background:#337ab7;
    border: 1px solid #1b588d;
}
.vihamus-2 a{
    display: block;
    background: #f5f5f5;
    padding:0px 10px;
    
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    border: 1px solid #ccc;
}
.vihamus-2 a:hover{
    background:#337ab7;
    border: 1px solid #1b588d;
    color: #ffffff;
}
.vihamus-3 a{
    display: inline-block;
    background: #f5f5f5;
    padding:0px 10px;
    
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    border: 1px solid #ccc;
}
.vihamus-3 a:hover{
    background:#337ab7;
    border: 1px solid #1b588d;
    color: #ffffff;
}
.rarakata{
    display: flex;
}
.lunarnewyear{
    display: flex;
    align-items: center;
}
.miakasaki{
    font-style: italic;
}
.vihamus-4 a{
    display: inline-block;
    background: #f5f5f5;
    padding:0px 10px;
    
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    border: 1px solid #ccc;
}
.vihamus-4 a:hover{
    background:#337ab7;
    border: 1px solid #1b588d;
    color: #ffffff;
}
.suzuritake{
    padding-left: 20px;
    padding-right: 20px;
}
.language-tb td{
    padding-left: 0;
    padding-right: 0;
}
.ritae{
    float: left;
}
.hot-job-name,.hot-job-employer{
    text-align: left;
}
.hot-job-name a{
    text-transform: capitalize;
    color:#333;
    font-weight: bold;

}
.hot-job-employer a{
    color: #898989;
    text-transform: capitalize;

}
.hot-job-box{
        border: 1px solid #f1f1f1;
    margin-top: 15px;
    padding: 5px;
}
.hot-job-img{
    float: left;
    width: 70px;
}
.hot-job-right{
    margin-left:70px;
}
.simantest-left{
    float: left;
    color: #fc205c;
}
.simantest-right{
    float: right;
    color: #1790d4;
}
.libia-camasa{
    margin-left:30px;
}
.nikatasuzuki{
    display: flex;
    align-items: center;
}
.tibolee{
    margin-left: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #E30000
}
.tibolee-icon{
    font-size: 20px;
    color: #E30000
}
.banban{
        position: absolute;
    width:930px;
    top: 14px;
    margin-top: 0;
    margin-bottom: 0;
    left: 140px;
}
.lonatraction{
    position: absolute;
    right: 0;
    top: 0;
}
.xem-tat-ca a{
        display: block;
    padding: 5px 10px;

    font-weight: bold;
    background: #f5f5f5;
    border: 1px solid #ccc;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}
.xem-tat-ca a:hover{
    background: #337ab7;
    border: 1px solid #1b588d;
    color: #ffffff;    
}
.royal {
        position: absolute;
    width: 470px;
    top: 14px;
    margin-top: 0;
    margin-bottom: 0;
    left: 200px;
}
.royal-bira {
    position: absolute;
    width: 400px;
    top: 14px;
    margin-top: 0;
    margin-bottom: 0;
    left: 270px;
}
.cidu td{
        padding-left: 0px;
    padding-bottom: 0px;
}
.cidu th{
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.cidu tr{
    border-bottom: 1px dotted #e1e1e1;
}
.vivan-hd{
    margin-top: 5px;
    margin-bottom: 5px;
}
.madrid a{
    color:#333;
}
.menu-highlight {
    background:  #337ab7;
    color: #ffffff;    
    font-size: 15px;
    padding: 10px 10px;    
}
.nhathongminhquata{
    margin-top: 15px;
}
.america{
    padding: 0px 10px;
    border: 1px solid #f1f1f1;
}
.ritacruista{
    margin-top: 5px;
}
.nysaki{
    float: left;
}
.batay{
    margin-left:550px;
}
.fackyou{
    border-bottom: 1px solid #f1f1f1;
}
.xibatuba{
    float: left;
}
.miranbaros{
    margin-left: 200px;
}
.ramadan {
    padding: 0px 10px 10px 10px;
    border: 1px solid #f1f1f1;
}
.subachuem{
    position: absolute;
    width: 530px;
    top: 14px;
    margin-top: 0;
    margin-bottom: 0;
    left: 140px;
}
@media (max-width: 768px){    
    .mobilemenu{
        display: block;
        background: #ffffff;
    }      
}
@media (max-width: 576px){

}